@namespace PlannerCRM.Client.Components.ButtonAction

<button type="@Type" class="@Class" @onclick=@RunMethod></button>

@code {
    [Parameter] public string  Type { get; set; }
    [Parameter] public string  Class { get; set; }
    [Parameter] public string  InnerText { get; set; }
    [Parameter] public Action RunMethod { get; set; }
}